body{
    background-color: #581845;
}

#content{
    display: flex;
    justify-content: center;
}

#bonechange{
    background-color: gray;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 5px solid;
    padding: 5px;
    border-color: #C70039;
}